/mooc-java-programming-i/part02-Part02_34.AdvancedAstrology/target/
/mooc-java-programming-i/part03-Part03_05.LastInList/target/
/mooc-java-programming-i/part03-Part03_07.RememberTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_09.GreatestInList/target/
/mooc-java-programming-i/part03-Part03_12.SumOfAList/target/
/mooc-java-programming-i/part03-Part03_13.AverageOfAList/target/
/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/mooc-java-programming-i/part03-Part03_25.Login/target/
/mooc-java-programming-i/part03-Part03_26.LineByLine/target/
/mooc-java-programming-i/part03-Part03_30.AgeOfTheOldest/target/